:root {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
	--main-a: #32ca00;
	--main-b: #313131;
	--main-c: #dcb000;
	--main-d: #808080;
	--main-e: #d7f6ff;
	--main-e-rgb:  215, 246, 255;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.bg-a {
	background-color: var(--main-a);
}
.text-a {
	color: var(--main-a);
}
.border-a {
	border: 1px solid var(--main-a);
}
.bg-b {
	background-color: var(--main-b);
}
.text-c {
	color: var(--main-c);
}
.border-c {
	border: 1px solid var(--main-c);
}
.bg-d {
	background-color: var(--main-d);
}
.text-d {
	color: var(--main-d);
}

.text-e {
	color: var(--main-e);
}
.border-e {
	border: 1px solid var(--main-e);
}

button.text-a:hover {
	background-color: var(--main-a);
	color: var(--main-e);
}

a.text-e:hover {
	color: var(--main-c);
}

.text-outline {
	text-shadow: -2px -2px #141414, 2px 2px #141414, -2px 2px #141414, 2px -2px #141414;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .customCarousel {
    height: 40vh;
}

.carousel-inner {
	height: 100%;
}

.carousel-item {
	height: 100%;
}

.carousel-item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
} */

.img-fit {
	/* height: 100%; */
	width: 100%;
	object-fit: cover;
}

@media (min-width: 576px) {
	.customCarousel {
		height: 50vh;
	}
	
}
@media (min-width: 992px) {
	.customCarousel {
		height: 75vh;
	}
	
}

.parallax {
	background-image: url('../images/pint_formation_a.png'); /* Replace with your image URL */
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.content {
	height: 200vh; /* Extend the height to demonstrate scrolling */
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 50px;
}
/* .nav-link {
	color: white;
} */